<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Paiement sécurisé</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>

<div class="wrapper" id="app">
  <div class="card-form">
    <div class="card-list">
      <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
        <div class="card-item__side -front">
          <div class="card-item__cover">
            <img v-bind:src="'./assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
          </div>
          <div class="card-item__wrapper">
            <div class="card-item__top">
              <img src="./assets/images/chip.png" class="card-item__chip">
              <div class="card-item__type">
                <img v-if="getCardType" v-bind:src="'./assets/images/' + getCardType + '.png'" class="card-item__typeImg">
              </div>
            </div>
            <label class="card-item__number">
              <!-- Numéro dynamique -->
              <span>{{ cardNumber || "#### #### #### ####" }}</span>
            </label>
            <div class="card-item__content">
              <label class="card-item__info">
                <div class="card-item__holder">Card Holder</div>
                <div class="card-item__name">{{ cardName || "FULL NAME" }}</div>
              </label>
              <div class="card-item__date">
                <label class="card-item__dateTitle">Expires</label>
                <span>{{ cardMonth || "MM" }}/{{ cardYear ? String(cardYear).slice(2,4) : "YY" }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-item__side -back">
          <div class="card-item__cover">
            <img v-bind:src="'./assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
          </div>
          <div class="card-item__band"></div>
          <div class="card-item__cvv">
            <div class="card-item__cvvTitle">CVV</div>
            <div class="card-item__cvvBand">{{ cardCvv ? "***" : "" }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Formulaire Stripe -->
    <div class="card-form__inner">
      <div class="card-input">
        <label for="cardName" class="card-input__label">Card Holder</label>
        <input type="text" id="cardName" class="card-input__input" v-model="cardName" autocomplete="off">
      </div>
      <div class="card-input">
        <label for="card-element" class="card-input__label">Card Details</label>
        <!-- Stripe.js va injecter ici le champ sécurisé -->
        <div id="card-element" class="card-input__input"></div>
      </div>

      <button class="card-form__button" id="submitBtn">
        Payer
      </button>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="./script.js"></script>

</body>
</html>
